<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" >
<head>
	<link class="icon" rel="icon" type="image/png" href="img\whitelogo.jpg">
	<link rel="stylesheet" href="css\style.css">
	<title>Science Bay</title>
</head>
<body>
	<div class="top">
		<a href="/"><img class="logo" alt="Science Bay" src="../img/logo.jpg"></a>
		<p class="moto">Let's know the world much better...</p>
		<div class="navs">
			<ul><a href="#show">Show</a></ul>
			<ul><a href="#search">Search</a></ul>
			<ul><a href="html/signup.html">Join Us</a></ul>
			<ul><a href="html/login.html">Login</a></ul>
		</div>
	</div>
	
	<div class="intro">
		<p>This place is built for curious and inquisitive people to share what they know to the world and to learn cool stuffs from other people like them. And thats all about introduction and, <br><h2>Welcome to the Bay..!</h2></p>
	</div>
	
	<footer>
		<p>sciencebay2@gmail.com</p>
		<div class="medialink">
			<p><a href="https://www.instagram.com/science_bay/">Instagram</a></p>
			<p><a href="https://www.youtube.com/channel/UCjxLPxYHuFb2e-IOc9G1jXQ">Youtube</a></p>
			<p><a href="https://twitter.com/ScienceBay_">Twitter</a></p>
		</div>
	</footer>
</body>
</html>